{% extends "layouts/base.njk" %}

{% block pageTitle %}Consent to check what support you can get - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}

      <h1 class="govuk-heading-xl">Consent to check what support you can get</h1>

      <p class="govuk-body">To personalise your results, we need to check relevant health details with the NHS and your benefits with the Department for Work and Pensions (DWP).</p>

      <p class="govuk-body">We will only use this to find out what support you may be eligible for.</p>

      {{ govukInsetText({
        text: 'We will not share your full medical history—only the details needed to check what help is available.'
      }) }}

      {# replace with a form tag #}
      <form class="govuk-!-margin-top-6" method="post">

        {{ govukRadios({
          name: 'consent',
          id: 'consent',
          fieldset: {
            legend: {
              text: 'Do you give your consent?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              value: 'yes',
              html: 'Yes<span class="govuk-visually-hidden">, I give my consent</span>'
            },
            {
              value: 'no',
              html: 'No<span class="govuk-visually-hidden">, I don’t give my consent</span>'
            }
          ],
          errorMessage: consentError
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

    </form>

  </div>

{% endblock %}
