.govuk-header__logo {
    float: left;
    padding-right: govuk-spacing(3);
  }

  .govuk-header__navigation {
    float: right;
  }

  .govuk-header__navigation-list {
    display: flex;
  }

  .govuk-header__navigation-item {
    border: 0;
    padding: 0;
    margin: 0;
    min-height: 30px;
    display: flex;
    align-items: center;

    &:last-child {
      border: 0;
    }

    @media (min-width: 40.0625em) {
      border-right: 1px solid #7c8185;
      padding-left: govuk-spacing(3);
      padding-right: govuk-spacing(3);

      &:last-child {
        padding-right: 0;
      }

    }

  }

  .govuk-header__navigation-item--sign-out {
    display: none;

    @media (min-width: 40.0625em) {
      display: flex;
    }

  }

  .govuk-header__navigation .govuk-header__link {
    @include govuk-font(19);
    align-items: center;
    display: flex;
    font-weight: bold;
    padding-top: govuk-spacing(1);
    padding-bottom: govuk-spacing(1);

    @media (min-width: 40.0625em) {
      @include govuk-font(16);
      font-weight: bold;
    }

    svg {
      margin-left: govuk-spacing(1);
      display: inline-block;
      vertical-align: bottom;
    }

    &:focus {

      svg :first-of-type {
        fill: govuk-colour("black");
      }

      svg :last-of-type {
        fill: govuk-colour("white");
      }

    }

  }
