{% set homepageUrl = "/" %}

{% if headerType == "signedin" %}

  {{ lthcHeader({
    classes: "govuk-header--full-width-border",
    homepageUrl: homepageUrl
  }) }}

  {# {{ govukHeader({
    homepageUrl: homepageUrl,
    classes: 'govuk-header--full-width-border'
  }) }} #}

  {% if stretchVersion == '2' %}

    {% if serviceNav %}
      {{ govukServiceNavigation({
        serviceName: 'Get help if you have a health condition',
        navigation: [
          {
            href: '/stretch/v2/',
            text: 'Home',
            active: (currentPage == 'home')
          },
          {
            href: '/stretch/v2/currently-getting',
            text: 'Currently getting',
            active: (currentPage == 'currently-getting')
          },
          {
            href: '/stretch/v2/entitled-to',
            text: 'Entitled to',
            active: (currentPage == 'entitled-to')
          },
          {
            href: '/stretch/v2/applications/',
            text: 'Applications',
            active: (currentPage == 'applications')
          }
        ]
      }) }}
    {% endif %}

  {% else %}

    {% if serviceNav %}
      {{ govukServiceNavigation({
        serviceName: 'Long term health condition',
        serviceUrl: '/stretch/',
        navigation: [
          {
            href: '/stretch/your-applications/',
            text: 'Your applications',
            active: (currentPage == 'your-applications')
          },
          {
            href: '/stretch/your-timeline/',
            text: 'Your timeline',
            active:  (currentPage == 'your-timeline')
          }
        ]
      }) }}
    {% endif %}

  {% endif %}

{% elif headerType == 'signedout' %}

  {{ lthcLayoutSuperNavigationHeader() }}

  {% if not browse %}
    <div class="gem-c-layout-for-public__blue-bar govuk-width-container"></div>
  {% endif %}

{% elif headerType == 'simple' %}

  {{ govukHeader({
    homepageUrl: homepageUrl,
    serviceName: serviceName if serviceName,
    serviceUrl: serviceUrl if serviceUrl
  }) }}

{% elif headerType == 'pilot' %}

  {{ govukHeader({
    homepageUrl: homepageUrl
  }) }}

{% else %}

  {{ govukHeader({
    homepageUrl: homepageUrl
  }) }}

{% endif %}
