{% extends "layouts/base.njk" %}

{% block pageTitle %}Your applications - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your applications</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">View your applications in progress, any actions you need to take, your activity log, and previous applications.</p>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      {{ lthcSideNavigation({
        items: navigation
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Actions you need to take</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">What you need to do to ensure you get the support you need.</p>

      {{ lthcTimeline({
        items: [
          {
            title: 'Submit more information for your Access to Work application',
            date: '2025-04-02',
            isByDate: true,
            html: '<p class="govuk-body">We need a confirmation letter from your employer outlining your job role and how your condition affects you. Please <a class="govuk-link govuk-link--no-visited-state" href="#0">provide the requested information</a>.</p>'
          },
          {
            title: 'Submit more information for your Universal Credit application',
            date: '2025-06-15',
            isByDate: true,
            html: '<p class="govuk-body">We need your last three months of bank statements to confirm your financial situation. Please <a class="govuk-link govuk-link--no-visited-state" href="#0">Apply now for support</a>.</p>'
          }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
