{% extends "layouts/base.njk" %}

{% block pageTitle %}Your applications - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your applications</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">View your applications in progress, any actions you need to take, your activity log, and previous applications.</p>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      {{ lthcSideNavigation({
        items: navigation
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your activity log</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">An activity log of key events and actions for your applications.</p>

      {% set items = upcomingActions %}

      {{ lthcTimeline({
        items: [
          {
            title: 'Free NHS prescriptions approved',
            date: '2025-03-25',
            html: '<p class="govuk-body">Your application for free NHS prescriptions has been approved. You are now eligible. <a class="govuk-link govuk-link--no-visited-state" href="/stretch/v2/currently-getting/NHS-2025-001234/">View your award details</a></p>'
          },
          {
            title: 'Employment and Support Allowance awarded',
            date: '2025-03-18',
            html: '<p class="govuk-body">Your application for Employment and Support Allowance has been approved. <a class="govuk-link govuk-link--no-visited-state" href="/stretch/v2/currently-getting/ESA-2025-001234/">View your award details</a></p>'
          },
          {
            title: 'Personal Independence Payment awarded',
            date: '2024-12-15',
            html: '<p class="govuk-body">Your Personal Independence Payment award has been confirmed. <a class="govuk-link govuk-link--no-visited-state" href="/stretch/v2/currently-getting/PIP-2025-001234/">View your award details</a>.</p>'
          },
          {
            title: 'Application submitted for Free NHS prescriptions',
            date: '2025-03-05',
            text: 'Your application for free NHS prescriptions has been received and is under review.'
          },
          {
            title: 'Application submitted for Universal Credit',
            date: '2025-03-01',
            text: 'Your Universal Credit application has been received. You may need to provide further details.'
          },
          {
            title: 'Decision made for Employment and Support Allowance',
            date: '2025-03-01',
            text: 'Your Employment and Support Allowance application has been approved. Payments will start from 18 March 2025.'
          },
          {
            title: 'Decision made for Personal Independence Payment',
            date: '2025-03-01',
            text: 'Your application for Personal Independence Payment has been decided. You’ve been awarded the standard rate.'
          },
          {
            title: 'Health assessment completed for Employment and Support Allowance',
            date: '2025-02-12',
            text: 'You attended your Employment and Support Allowance health assessment. Your application is under review.'
          },
          {
            title: 'Health assessment completed for Personal Independence Payment',
            date: '2025-02-05',
            text: 'You attended your Personal Independence Payment health assessment. We are now reviewing your information.'
          },
          {
            title: 'Application submitted for Access to Work',
            date: '2025-02-03',
            text: 'Your Access to Work application has been received. We will contact you if further information is needed.'
          },
          {
            title: 'Application submitted for Disabled Facilities Grant',
            date: '2025-02-10',
            text: 'Your application for a Disabled Facilities Grant has been received and is under review.'
          },
          {
            title: 'Application submitted for Employment and Support Allowance',
            date: '2024-12-15',
            text: 'Your Employment and Support Allowance application has been received and is under review. No further action required at this stage.'
          },
          {
            title: 'Application submitted for Personal Independence Payment',
            date: '2024-11-20',
            text: 'Your Personal Independence Payment application has been successfully submitted and is under review. No action required until you are contacted for further information.'
          }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
