{% extends "layouts/mainstream-guide.njk" %}

{% block pageTitle %}Other help if you’ve applied for Universal Credit and have a health condition - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Other help if you’ve applied for Universal Credit and have a health condition</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
        {{ lthcContentsList({
          items: [
            {
              href: '/universal-credit/mainstream-guide/',
              text: 'Support to get a job or stay in work'
            },
            {
              href: '/universal-credit/mainstream-guide/if-youre-having-problems-with-your-employer/',
              text: 'If you’re having problems with your employer'
            },
            {
              href: '/universal-credit/mainstream-guide/health-support/',
              text: 'Health support',
              active: true
            },
            {
              href: '/universal-credit/mainstream-guide/other-benefits-and-financial-help/',
              text: 'Other benefits and financial help'
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">Health support</h2>

      <p class="govuk-body">Talk with your healthcare professional about support you can get for your condition.</p>

      <p class="govuk-body">You might qualify for a <a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/nhs-services/help-with-health-costs/what-is-a-personal-health-budget/" rel="nofollow external">personal health budget</a> from the NHS to support you with treatment, equipment and personal care.</p>

      <p class="govuk-body">If you’re eligible for it, an NHS local team will work with you to plan how to spend the money on your care.</p>

      <h3 class="govuk-heading-m">Help with specific conditions</h3>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://rcseng.ac.uk/patient-care/recovering-from-surgery/" rel="nofollow external">Recovering from surgery</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://action-on-pain.co.uk/" rel="nofollow external">Help with managing pain</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/mental-health/advice-for-life-situations-and-events/return-to-work-after-mental-health-issues/" rel="nofollow external">Returning to work after mental health issues</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/nhs-services/mental-health-services/find-nhs-talking-therapies-for-anxiety-and-depression/" rel="nofollow external">Find NHS talking therapies for anxiety and depression</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://macmillan.org.uk/cancer-information-and-support/impacts-of-cancer/work-and-cancer/" rel="nofollow external">Work and cancer</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://csp.org.uk/documents/making-reasonable-adjustments/" rel="nofollow external">Reasonable-adjustments advice from Chartered Society of Physiotherapy</a></li>
      </ul>

      <h3 class="govuk-heading-m">Group and charities who support people with health conditions</h3>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/find-a-community-support-group-or-organisation/">Find a support group near you</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://aboutmyhealth.org/patient-charities-list.php/" rel="nofollow external">List of charities who help with specific conditions</a></li>
      </ul>

      {{ govukPagination({
        previous: {
          labelText: 'If you’re having problems with your employer',
          href: '/universal-credit/mainstream-guide/if-youre-having-problems-with-your-employer/'
        },
        next: {
          labelText: 'Other benefits and financial help',
          href: '/universal-credit/mainstream-guide/other-benefits-and-financial-help/'
        }
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: '#0', text: 'Easy read: Access to Work - get support if you have a disability or health condition' },
          { href: '#0', text: 'Reasonable adjustments for workers with disabilities or health conditions' },
          { href: '#0', text: 'Definition of disability under the Equality Act 2010' },
          { href: '#0', text: 'Disability rights' },
          { href: '#0', text: 'Looking for work if you’re disabled' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
