{% extends "layouts/mainstream-guide.njk" %}

{% block pageTitle %}Other help if you’ve applied for Access to Work - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Other help if you’ve applied for Access to Work</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
        {{ lthcContentsList({
          items: [
            {
              href: '/access-to-work/mainstream-guide/',
              text: 'Overview'
            },
            {
              href: '/access-to-work/mainstream-guide/support-from-your-employer/',
              text: 'Support from your employer',
              active: true
            },
            {
              href: '/access-to-work/mainstream-guide/benefits-and-financial-help/',
              text: 'Benefits and financial help'
            },
            {
              href: '/access-to-work/mainstream-guide/support-with-your-health/',
              text: 'Support with your health'
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">Support from your employer</h2>

      <p class="govuk-body">Your employer must make any <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/reasonable-adjustments-for-disabled-workers/">reasonable adjustments</a> so that you’re not disadvantaged at work.</p>

      {{ govukInsetText({
        html: 'Access to Work grants do not pay for reasonable adjustments, as it’s your employer’s responsibility to make these changes.'
      }) }}

      <p class="govuk-body">You can use the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/government/publications/health-adjustment-passport/">Health Adjustment Passport</a> form when talking with your employer. It helps you work out any reasonable adjustments you need.</p>

      <p class="govuk-body">For example, you may need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>flexible or part-time working</li>
        <li>to speak to an occupational health adviser in your organisation</li>
        <li>time off for <a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/time-off-for-medical-appointments/" rel="nofollow external">health appointments</a></li>
      </ul>

      <h3 class="govuk-heading-m">If you’re having problems with your employer</h3>

      <p class="govuk-body">You can get advice and help from various organisations.</p>

      <p class="govuk-body">If you’re in a <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/join-trade-union/">trade union</a>, they can represent you when talking to your employer.</p>

      <p class="govuk-body">You can also contact the following for free advice:</p>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/" rel="nofollow external">ACAS</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://citizensadvice.org.uk/" rel="nofollow external">Citizens Advice</a></li>
      </ul>

      <p class="govuk-body">More guidance:</p>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/supporting-disabled-people/how-an-employer-should-support-disabled-people/" rel="nofollow external">What employers should do to support disability or long term health conditions</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/reasonable-adjustments/if-an-employer-does-not-make-reasonable-adjustments/" rel="nofollow external">If your employer fails to make reasonable adjustments for you</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/if-you-become-disabled/if-youre-in-employment-and-become-disabled/">What to do if you’re employed and become disabled</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://citizensadvice.org.uk/work/dismissal/check-your-rights-if-youre-dismissed/if-your-employer-wants-to-dismiss-you-because-of-long-term-sickness/" rel="nofollow external">If your employer wants to dismiss you because of health or disability</a></li>
      </ul>

      {{ govukPagination({
        classes: 'govuk-!-margin-0',
        previous: {
          labelText: 'Overview',
          href: '/access-to-work/mainstream-guide/'
        },
        next: {
          labelText: 'Benefits and financial help',
          href: '/access-to-work/mainstream-guide/benefits-and-financial-help/'
        }
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: '#0', text: 'Easy read: Access to Work - get support if you have a disability or health condition' },
          { href: '#0', text: 'Reasonable adjustments for workers with disabilities or health conditions' },
          { href: '#0', text: 'Definition of disability under the Equality Act 2010' },
          { href: '#0', text: 'Disability rights' },
          { href: '#0', text: 'Looking for work if you’re disabled' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
