{% extends "layouts/pilot.njk" %}

{% block pageTitle %}Get help if you’re taking time off work due to a health condition - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Get help if you’re taking time off work due to a health condition</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
       {{ lthcContentsList({
          items: [
            {
              href: '/fit-note/pilot/',
              text: 'Fit notes and sick pay'
            },
            {
              href: '/fit-note/pilot/contact-with-your-employer-during-sick-leave/',
              text: 'Contact with your employer during sick leave'
            },
            {
              href: '/fit-note/pilot/benefits-and-other-financial-help/',
              text: 'Benefits and other financial help'
            },
            {
              href: '/fit-note/pilot/health-support/',
              text: 'Health support'
            },
            {
              href: '/fit-note/pilot/preparing-to-return-to-work/',
              text: 'Preparing to return to work'
            },
            {
              href: '/fit-note/pilot/when-youre-back-at-work/',
              text: 'When you’re back at work',
              active: true
            },
            {
              href: '/fit-note/pilot/if-you-cannot-return-or-your-employer-wants-to-dismiss-you/',
              text: 'If you cannot return or your employer wants to dismiss you'
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">When you’re back at work</h2>

      <p class="govuk-body">When you’re back, your employer may set up a return to work meeting.</p>

      <p class="govuk-body">These are usually just an informal chat about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>anything that’s changed at work while you were off</li>
        <li>support you may need</li>
        <li>what you’d like other employees to know about your absence</li>
        <li>what must stay confidential</li>
      </ul>

      <p class="govuk-body">You should also discuss with your employer:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>whether you can have time off for <a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/time-off-for-medical-appointments/" rel="nofollow external">health appointments</a></li>
        <li>if you’re finding it impossible to continue in the same role</li>
      </ul>

      <p class="govuk-body">Your employer has a duty to support you to remain in your job.</p>

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/" rel="nofollow external">Get free advice from ACAS</a></p>

      {{ govukPagination({
        previous: {
          labelText: 'Preparing to return to work',
          href: '/fit-note/pilot/preparing-to-return-to-work/'
        },
        next: {
          labelText: 'If you cannot return or your employer wants to dismiss you',
          href: '/fit-note/pilot/if-you-cannot-return-or-your-employer-wants-to-dismiss-you/'
        }
      }) }}

      {{ lthcContextualFooter({
        title: 'Explore the topic',
        links: [
          { href: 'https://gov.uk/browse/benefits/disability/', text: 'Benefits and financial support if you’re disabled or have a health condition' },
          { href: 'https://gov.uk/financial-help-disabled/', text: 'Benefits and financial help' }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: 'https://gov.uk/government/collections/statutory-sick-pay-and-leave/', text: 'Statutory Sick Pay guidance and forms for employees and employers' },
          { href: 'https://gov.uk/statutory-sick-pay/', text: 'Statutory Sick Pay (SSP)' },
          { href: 'https://gov.uk/send-fit-note/', text: 'Send your fit note for your ESA claim' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
