{% extends "layouts/pilot.njk" %}

{% block pageTitle %}Get help if you’re taking time off work due to a health condition - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Get help if you’re taking time off work due to a health condition</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
       {{ lthcContentsList({
          items: [
            {
              href: '/fit-note/pilot/',
              text: 'Fit notes and sick pay'
            },
            {
              href: '/fit-note/pilot/contact-with-your-employer-during-sick-leave/',
              text: 'Contact with your employer during sick leave'
            },
            {
              href: '/fit-note/pilot/benefits-and-other-financial-help/',
              text: 'Benefits and other financial help'
            },
            {
              href: '/fit-note/pilot/health-support/',
              text: 'Health support'
            },
            {
              href: '/fit-note/pilot/preparing-to-return-to-work/',
              text: 'Preparing to return to work',
              active: true
            },
            {
              href: '/fit-note/pilot/when-youre-back-at-work/',
              text: 'When you’re back at work'
            },
            {
              href: '/fit-note/pilot/if-you-cannot-return-or-your-employer-wants-to-dismiss-you/',
              text: 'If you cannot return or your employer wants to dismiss you'
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">Preparing to return to work</h2>

      <p class="govuk-body">Discuss with your employer if you’re able to return to work.</p>

      <p class="govuk-body">You can go back earlier than the end date on your fit note if you’re well enough. You do not have to see a healthcare professional again to go back to work.</p>

      <p class="govuk-body">You employer must discuss with you how they can help you return.</p>

      <p class="govuk-body">You can use the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/government/publications/health-adjustment-passport/">Health Adjustment Passport</a> form when talking with your employer.</p>

      <p class="govuk-body">It helps you identify what help or changes you need to return to work or stay in work. For example, you may:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>need a <a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/returning-to-work-after-absence/phased-return-to-work/" rel="nofollow external">phased return</a>, flexible or part-time working</li>
        <li>need some <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/reasonable-adjustments-for-disabled-workers/">reasonable adjustments</a> before you can go back</li>
        <li>want to apply for an <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/access-to-work/">Access to Work</a> grant, which will pay for support you need to stay in your job</li>
        <li>speak to an occupational health adviser in your organisation</li>
        <li>have to meet certain rules before you can return after illness, for example, if you drive a lorry or bus, <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/driving-medical-conditions/">find out about driving with a medical condition</a></li>
      </ul>

      <p class="govuk-body">If your employer wants to dismiss you on sick leave, read about <a class="govuk-link govuk-link--no-visited-state" href="/fit-note/pilot/if-you-cannot-return-or-your-employer-wants-to-dismiss-you/">your rights</a>.</p>

      <p class="govuk-body">There are also organisations who can advise and help you liaise with your employer:</p>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://citizensadvice.org.uk/work/negotiating-with-your-employer/dealing-with-a-problem-at-work/" rel="nofollow external">Get help with talking to your employer from Citizens Advice</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/returning-to-work-after-absence/" rel="nofollow external">Get free advice on returning to work after absence from ACAS</a></li>
      </ul>

      {{ govukPagination({
        previous: {
          labelText: 'Health support',
          href: '/fit-note/pilot/health-support/'
        },
        next: {
          labelText: 'When you’re back at work',
          href: '/fit-note/pilot/when-youre-back-at-work/'
        }
      }) }}

      {{ lthcContextualFooter({
        title: 'Explore the topic',
        links: [
          { href: 'https://gov.uk/browse/benefits/disability/', text: 'Benefits and financial support if you’re disabled or have a health condition' },
          { href: 'https://gov.uk/financial-help-disabled/', text: 'Benefits and financial help' }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: 'https://gov.uk/government/collections/statutory-sick-pay-and-leave/', text: 'Statutory Sick Pay guidance and forms for employees and employers' },
          { href: 'https://gov.uk/statutory-sick-pay/', text: 'Statutory Sick Pay (SSP)' },
          { href: 'https://gov.uk/send-fit-note/', text: 'Send your fit note for your ESA claim' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
