{% extends "layouts/mainstream-guide.njk" %}

{% block pageTitle %}Other help if you’ve applied for Universal Credit and have a health condition - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Other help if you’ve applied for Universal Credit and have a health condition</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
        {{ lthcContentsList({
          items: [
            {
              href: '/universal-credit/mainstream-guide/',
              text: 'Support to get a job or stay in work',
              active: true
            },
            {
              href: '/universal-credit/mainstream-guide/if-youre-having-problems-with-your-employer/',
              text: 'If you’re having problems with your employer'
            },
            {
              href: '/universal-credit/mainstream-guide/health-support/',
              text: 'Health support'
            },
            {
              href: '/universal-credit/mainstream-guide/other-benefits-and-financial-help/',
              text: 'Other benefits and financial help'
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">Support to get a job or stay in work</h2>

      <h3 class="govuk-heading-m">Finding a job</h3>

      <p class="govuk-body">Your local Jobcentre can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>help you find a job or gain new skills</li>
        <li>tell you about employers who support disabilities and health conditions in your area</li>
        <li>explain available programmes and grants to help you back into work</li>
      </ul>

      <h4 class="govuk-heading-s">More guidance</h4>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://scope.org.uk/advice-and-support/finding-jobs/" rel="nofollow external">SCOPE - get help finding a job if you’re disabled or have a health condition</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/looking-for-work-if-disabled/">Find work if you’re disabled</a></li>
      </ul>

      <h3 class="govuk-heading-m">Programmes and grants</h3>

      <p class="govuk-body">You might be eligible for the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/work-health-programme/">Work and Health programme</a> which helps you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>match your skills to work that’s available</li>
        <li>put you in touch with employers</li>
        <li>find long-term employment</li>
        <li>get training to help you find work</li>
        <li>manage health problems to reduce their impact on work</li>
      </ul>

      <p class="govuk-body">You might also be able to apply for the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/access-to-work/" rel="nofollow external">Access to Work scheme</a> if you’re in paid work, or about to start or return to paid work in the next 12 weeks.</p>

      <p class="govuk-body">Through Access to Work, you can apply for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a grant to help pay for practical support in a job</li>
        <li>money to pay for communication support at job interviews</li>
        <li>support with managing mental health at work</li>
      </ul>

      <h3 class="govuk-heading-m">Reasonable adjustments</h3>

      <p class="govuk-body">You can ask your employer to look at changes you may need at work, known as <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/reasonable-adjustments-for-disabled-workers/" rel="nofollow external">reasonable adjustments</a>. Your employer has a duty to support you.</p>

      <p class="govuk-body">You can use the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/government/publications/health-adjustment-passport/" rel="nofollow external">Health Adjustment Passport</a> form when talking with your employer.</p>

      <p class="govuk-body">It helps you identify help or changes you need. For example, you may need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>flexible or part-time working</li>
        <li>to speak to an occupational health adviser in your organisation</li>
        <li>time off for <a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/time-off-for-medical-appointments/" rel="nofollow external">health appointments</a></li>
      </ul>

      {{ govukPagination({
        next: {
          labelText: 'If you’re having problems with your employer',
          href: '/universal-credit/mainstream-guide/if-youre-having-problems-with-your-employer/'
        }
      }) }}

      <div class="govuk-!-padding-bottom-6">
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="#0">View a printable version of the whole guide</a>
        </p>
      </div>

      {{ lthcContextualFooter({
        title: 'Explore the topic',
        links: [
          { href: 'https://gov.uk/browse/benefits/disability/', text: 'Benefits and financial support if you’re disabled or have a health condition' },
          { href: 'https://gov.uk/financial-help-disabled/', text: 'Benefits and financial help' }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: 'https://gov.uk/sign-in-universal-credit/', text: 'Sign in to your Universal Credit account' },
          { href: 'https://gov.uk/benefits-calculators/', text: 'Benefits calculators' },
          { href: 'https://gov.uk/housing-benefit/', text: 'Housing Benefit' },
          { href: 'https://gov.uk/self-employment-and-universal-credit/', text: 'Self-employment and Universal Credit' },
          { href: 'https://gov.uk/sign-in/', text: 'Sign in to a service' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
