.lthc-card {
  @include govuk-responsive-padding(6);
  border: 1px solid $govuk-border-colour;
  // border-bottom-width: 5px;
  box-sizing: border-box;
  margin-bottom: govuk-spacing(6);
  position: relative;
}

.lthc-card__heading {

  .govuk-heading-m {
    margin-bottom: govuk-spacing(3);
  }

}

.lthc-card__content {

  :last-of-type {
    margin-bottom: 0;
  }

}
