{% extends "layouts/base.njk" %}

{% block pageTitle %}Page index - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Browse pages</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">Select a page to review.</p>

      <h2 class="govuk-heading-l">Stretch prototype</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/">Home</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/your-applications/">Your applications</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/your-timeline/">Your timeline</a></li>
      </ul>

      <h3 class="govuk-heading-m">Support applications</h3>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/your-applications/ESA-2025-001234/">Employment and Support Allowance</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/your-applications/UC-2025-001234/">Universal Credit</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/your-applications/BB-2025-001234/">Blue Badge</a></li>
      </ul>

      <h3 class="govuk-heading-m">Consent to share</h3>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/consent/v1">Consent to check what support you can get</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/stretch/consent/v2">Give consent to share your information</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Fit note prototype</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/fit-note/">Browse</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/fit-note/v2/">Accordion</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/fit-note/v3/">Step by step</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/fit-note/v4/">Accordion, no excerpts, includes charities and retraining</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Access to Work prototype</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/access-to-work/">Application complete</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/access-to-work/support/">Support (accordion)</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Universal Credit prototype</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/universal-credit/">You've signed out of your Universal Credit account</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/universal-credit/support/">Support (accordion)</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Support for people with a long term health condition</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/support/">Support for people</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/support/in-work/">Support for people in work</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/support/not-in-work/">Support for people not in work</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Other pages</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/browse/start-now/">Start now</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/browse/create-your-govuk-one-login-or-sign-in/">Create your GOV.UK One Login or sign in</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/browse/application-complete/">Application complete</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/browse/page-not-found/">Page not found</a></li>
      </ul>

    </div>

  </div>

{% endblock %}
