{% extends "layouts/base.njk" %}

{% block pageTitle %}Application complete - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>UC123456</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We’ll email to let you know whether your application is successful.</p>

      <p class="govuk-body">You should hear from us in the next 21 days.</p>

      <h2 class="govuk-heading-m" id="other-support">Other support</h2>

      <p class="govuk-body">Find <a class="govuk-link govuk-link--no-visited-state" href="/universal-credit/support/">other support</a> you can get if you have a health condition.</p>

    </div>

  </div>

{% endblock %}
