{% extends "layouts/base.njk" %}

{% block pageTitle %}Other help if you’ve applied for Universal Credit and have a health condition - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Other help if you’ve applied for Universal Credit and have a health condition</h1>

      <p class="govuk-body">You may be entitled to other benefits, support in your job and help with your health.</p>

      {% set stepOne %}
        <h3 class="govuk-heading-s" id="finding-a-job">Finding a job</h3>
        <p class="govuk-body">Your local Jobcentre can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>help you find a job or gain new skills</li>
          <li>tell you about employers who support disabilities and health conditions in your area</li>
          <li>explain available programmes and grants to help you back into work</li>
        </ul>
        <ul class="govuk-list govuk-list--spaced">
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://scope.org.uk/advice-and-support/finding-jobs/" rel="nofollow external">SCOPE - get help finding a job if you're disabled or have a health condition</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/looking-for-work-if-disabled/">Find work if you’re disabled</a></li>
        </ul>
        <h3 class="govuk-heading-s" id="programmes-and-grants">Programmes and grants</h3>
        <p class="govuk-body">You might be eligible for the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/work-health-programme/">Work and Health programme</a> which helps you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>match your skills to work that’s available</li>
          <li>put you in touch with employers</li>
          <li>find long-term employment</li>
          <li>get training to help you find work</li>
          <li>manage health problems to reduce their impact on work</li>
        </ul>
        <p class="govuk-body">You might also be able to apply for the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/access-to-work/" rel="nofollow external">Access to Work scheme</a> if you’re in paid work, or about to start or return to paid work in the next 12 weeks.</p>
        <p class="govuk-body">Through Access to Work, you can apply for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a grant to help pay for practical support in a job</li>
          <li>money to pay for communication support at job interviews</li>
          <li>support with managing mental health at work</li>
        </ul>
        <h3 class="govuk-heading-s" id="reasonable-adjustments">Reasonable adjustments</h3>
        <p class="govuk-body">You can ask your employer to look at changes you may need at work, known as <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/reasonable-adjustments-for-disabled-workers/" rel="nofollow external">reasonable adjustments</a>. Your employer has a duty to support you.</p>
        <p class="govuk-body">You can use the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/government/publications/health-adjustment-passport/" rel="nofollow external">Health Adjustments Passport</a> form when talking with your employer.</p>
        <p class="govuk-body">It helps you identify help or changes you need. For example, you may need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>flexible or part-time working</li>
          <li>to speak to an occupational health adviser in your organisation</li>
          <li>time off for <a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/time-off-for-medical-appointments/" rel="nofollow external">health appointments</a></li>
        </ul>
      {% endset %}

      {% set stepTwo %}
        <p class="govuk-body">If your employer is not supporting you, you can get advice and help.</p>
        <p class="govuk-body">For example, if you’re in a <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/join-trade-union/">trade union</a>, they can represent you when talking to your employer.</p>
        <p class="govuk-body">There are also other organisations you can contact for free advice:</p>
        <ul class="govuk-list govuk-list--spaced">
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/" rel="nofollow external">ACAS</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://citizensadvice.org.uk/" rel="nofollow external">Citizens Advice</a></li>
        </ul>
        <h3 class="govuk-heading-s" id="more-guidance">More guidance</h3>
        <ul class="govuk-list govuk-list--spaced">
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/supporting-disabled-people/how-an-employer-should-support-disabled-people/" rel="nofollow external">What employers should do to support disability or long term health conditions</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://acas.org.uk/reasonable-adjustments/if-an-employer-does-not-make-reasonable-adjustments/" rel="nofollow external">If your employer fails to make reasonable adjustments for you</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/if-you-become-disabled/if-youre-in-employment-and-become-disabled/">What to do if you’re employed and become disabled</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://citizensadvice.org.uk/work/dismissal/check-your-rights-if-youre-dismissed/if-your-employer-wants-to-dismiss-you-because-of-long-term-sickness/" rel="nofollow external">If your employer wants to dismiss you because of health or disability</a></li>
        </ul>
      {% endset %}

      {% set stepThree %}
        <p class="govuk-body">Talk with your healthcare professional about support you can get for your condition.</p>
        <p class="govuk-body">You might qualify for a <a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/nhs-services/help-with-health-costs/what-is-a-personal-health-budget/" rel="nofollow external">personal health budget</a> from the NHS to support you with treatment, equipment and personal care.</p>
        <p class="govuk-body">If you’re eligible for it, an NHS local team will work with you to plan how to spend the money on your care.</p>
        <h3 class="govuk-heading-s" id="help-with-specific-conditions">Help with specific conditions</h3>
        <ul class="govuk-list govuk-list--spaced">
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://rcseng.ac.uk/patient-care/recovering-from-surgery/" rel="nofollow external">Recovering from surgery</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://action-on-pain.co.uk/" rel="nofollow external">Help with managing pain</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/mental-health/advice-for-life-situations-and-events/return-to-work-after-mental-health-issues/" rel="nofollow external">Returning to work after mental health issues</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/nhs-services/mental-health-services/find-nhs-talking-therapies-for-anxiety-and-depression/" rel="nofollow external">Find NHS talking therapies for anxiety and depression</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://macmillan.org.uk/cancer-information-and-support/impacts-of-cancer/work-and-cancer/" rel="nofollow external">Work and cancer</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://csp.org.uk/documents/making-reasonable-adjustments/" rel="nofollow external">Reasonable-adjustments advice from Chartered Society of Physiotherapy</a></li>
        </ul>
        <h3 class="govuk-heading-s" id="group-and-charities-who-support-people-with-health-conditions">Group and charities who support people with health conditions</h3>
        <ul class="govuk-list govuk-list--spaced">
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/find-a-community-support-group-or-organisation/">Find a support group near you</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="https://aboutmyhealth.org/patient-charities-list.php/" rel="nofollow external">List of charities who help with specific conditions</a></li>
        </ul>
      {% endset %}

      {% set stepFour %}
        <p class="govuk-body">If you have a health condition that affects your work, you may be able to apply for other benefits apart from Universal Credit.</p>
        <p class="govuk-body">Use a <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/benefits-calculators/">benefits calculator</a> to see which benefits you could get and how much you might receive each week.</p>
        <p class="govuk-body">You might also be able to get other financial help with health costs, bills and travel.</p>
        <h3 class="govuk-heading-s" id="health-costs">Health costs</h3>
        <p class="govuk-body">Get help with <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/help-nhs-costs/">NHS prescriptions, dental treatment, eye tests and other costs</a>.</p>
        <h3 class="govuk-heading-s" id="bills">Bills</h3>
        <p class="govuk-body">Get help with the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/cost-of-living/">cost of living if you have a health condition or disability</a>.</p>
        <p class="govuk-body">For example you might be able to get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your water bill capped through the <a class="govuk-link govuk-link--no-visited-state" href="https://citizensadvice.org.uk/consumer/water/problems-with-paying-your-water-bill/watersure-scheme-help-with-paying-water-bills/" rel="nofollow external">Watersure scheme</a></li>
          <li>£150 off energy bills with the <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/the-warm-home-discount-scheme/">Warm Home Discount Scheme</a></li>
          <li>a discount on your <a class="govuk-link govuk-link--no-visited-state" href="https://ofcom.org.uk/phones-and-broadband/saving-money/social-tariffs/" rel="nofollow external">broadband bills</a>, if you’re claiming benefits</li>
        </ul>
        <h3 class="govuk-heading-s" id="travel">Travel</h3>
        <p class="govuk-body">You may get help with <a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/financial-help-disabled/vehicles-and-transport/">transport costs</a> if you have a disability.</p>
      {% endset %}

      {{ govukAccordion({
        classes: 'govuk-!-margin-bottom-0',
        id: 'get-help',
        items: [
          {
            heading: {
              text: 'Support to get a job or stay in work'
            },
            content: {
              html: stepOne
            }
          },
          {
            heading: {
              text: 'If you’re having problems with your employer'
            },
            content: {
              html: stepTwo
            }
          },
          {
            heading: {
              text: 'Health support'
            },
            content: {
              html: stepThree
            }
          },
          {
            heading: {
              text: 'Other benefits and financial help'
            },
            content: {
              html: stepFour
            }
          }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
