{% extends "layouts/mainstream-guide.njk" %}

{% block pageTitle %}Other help if you’ve applied for Access to Work - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Other help if you’ve applied for Access to Work</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
        {{ lthcContentsList({
          items: [
            {
              href: '/access-to-work/mainstream-guide/',
              text: 'Overview'
            },
            {
              href: '/access-to-work/mainstream-guide/support-from-your-employer/',
              text: 'Support from your employer'
            },
            {
              href: '/access-to-work/mainstream-guide/benefits-and-financial-help/',
              text: 'Benefits and financial help'
            },
            {
              href: '/access-to-work/mainstream-guide/support-with-your-health/',
              text: 'Support with your health',
              active: true
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">Support with your health</h2>

      <p class="govuk-body">Content goes here.</p>

      {{ govukPagination({
        previous: {
          labelText: 'Benefits and financial help',
          href: '/access-to-work/mainstream-guide/benefits-and-financial-help/'
        }
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: '#0', text: 'Easy read: Access to Work - get support if you have a disability or health condition' },
          { href: '#0', text: 'Reasonable adjustments for workers with disabilities or health conditions' },
          { href: '#0', text: 'Definition of disability under the Equality Act 2010' },
          { href: '#0', text: 'Disability rights' },
          { href: '#0', text: 'Looking for work if you’re disabled' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
