{% extends "layouts/mainstream-guide.njk" %}

{% block pageTitle %}Other help if you’ve applied for Access to Work - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Other help if you’ve applied for Access to Work</h1>

      <aside class="govuk-part-navigation-container" role="complementary">
        {{ lthcContentsList({
          items: [
            {
              href: '/access-to-work/mainstream-guide/',
              text: 'Get support from your employer'
            },
            {
              href: '/access-to-work/mainstream-guide/benefits-and-financial-help/',
              text: 'Benefits and financial help'
            },
            {
              href: '/access-to-work/mainstream-guide/support-with-your-health/',
              text: 'Support with your health',
              active: true
            }
          ]
        }) }}
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

      <h2 class="govuk-heading-l">Support with your health</h2>

      <p class="govuk-body">Talk with your healthcare professional about support you can get for your condition.</p>

      <p class="govuk-body">You might qualify for a <a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/nhs-services/help-with-health-costs/what-is-a-personal-health-budget/" rel="nofollow external">personal health budget</a> from the NHS to support you with treatment, equipment and personal care.</p>

      <p class="govuk-body">If you’re eligible for it, an NHS local team will work with you to plan how to spend the money on your care.</p>

      <h3 class="govuk-heading-m">Help with specific conditions</h3>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://rcseng.ac.uk/patient-care/recovering-from-surgery/" rel="nofollow external">Recovering from surgery</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://action-on-pain.co.uk/" rel="nofollow external">Help with managing pain</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/mental-health/advice-for-life-situations-and-events/return-to-work-after-mental-health-issues/" rel="nofollow external">Returning to work after mental health issues</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://nhs.uk/nhs-services/mental-health-services/find-nhs-talking-therapies-for-anxiety-and-depression/" rel="nofollow external">Find NHS talking therapies for anxiety and depression</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://macmillan.org.uk/cancer-information-and-support/impacts-of-cancer/work-and-cancer/" rel="nofollow external">Work and cancer</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://csp.org.uk/documents/making-reasonable-adjustments/" rel="nofollow external">Reasonable-adjustments advice from Chartered Society of Physiotherapy</a></li>
      </ul>

      <h3 class="govuk-heading-m">Groups and charities who support people with health conditions</h3>

      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://gov.uk/find-a-community-support-group-or-organisation/">Find a support group near you</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://aboutmyhealth.org/patient-charities-list.php/" rel="nofollow external">List of charities who help with specific conditions</a></li>
      </ul>

      {{ govukPagination({
        previous: {
          labelText: 'Benefits and financial help',
          href: '/access-to-work/mainstream-guide/benefits-and-financial-help/'
        }
      }) }}

      <div class="govuk-!-padding-bottom-6">
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="#0">View a printable version of the whole guide</a>
        </p>
      </div>

      {{ lthcContextualFooter({
        title: 'Explore the topic',
        links: [
          { href: 'https://gov.uk/browse/benefits/disability/', text: 'Benefits and financial support if you’re disabled or have a health condition' },
          { href: 'https://gov.uk/financial-help-disabled/', text: 'Benefits and financial help' }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ lthcRelatedNavigation({
        title: "Related content",
        links: [
          { href: 'https://gov.uk/government/publications/easy-read-get-help-at-work-if-youre-disabled-or-have-a-health-condition-access-to-work/', text: 'Easy read: Access to Work - get support if you have a disability or health condition' },
          { href: 'https://gov.uk/reasonable-adjustments-for-disabled-workers/', text: 'Reasonable adjustments for workers with disabilities or health conditions' },
          { href: 'https://gov.uk/definition-of-disability-under-equality-act-2010/', text: 'Definition of disability under the Equality Act 2010' },
          { href: 'https://gov.uk/rights-disabled-person/', text: 'Disability rights' },
          { href: 'https://gov.uk/looking-for-work-if-disabled/', text: 'Looking for work if you’re disabled' }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
