{% extends "layouts/base.njk" %}

{% block pageTitle %}You’re entitled to - GOV.UK{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You’re entitled to</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">We recommend other benefits and support you can get.</p>

    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" id="benefits-and-financial-help">Benefits and financial help</h2>

      {{ lthcCard({
        items: [
          {
            name: "Industrial Injuries Disablement",
            description: "You might get Industrial Injuries Disablement Benefit (IIDB) if you became ill or are disabled because of an accident or disease.",
            url: "#0",
            urlText: "Check if you are eligible"
          }
        ]
      }) }}

      {{ lthcCard({
        items: [
          {
            name: "Disabled bus pass",
            description: "Free or discounted bus travel if you have a disability that affects your ability to drive. Availability depends on your local council.",
            url: "#0",
            urlText: "Apply for a disabled bus pass"
          }
        ]
      }) }}

      {{ lthcCard({
        items: [
          {
            name: "Blue Badge",
            description: "You may be eligible if you have difficulty walking or certain hidden disabilities.",
            url: "#0",
            urlText: "Apply for a blue badge"
          }
        ]
      }) }}

      {{ lthcCard({
        items: [
          {
            name: "Free NHS dental treatment",
            description: "Covers the cost of NHS prescriptions if you receive certain benefits or have a qualifying health condition.",
            url: "#0",
            urlText: "Check if you qualify"
          }
        ]
      }) }}

      <h2 class="govuk-heading-l" id="help-with-your-health">Help with your health</h2>

      {{ lthcCard({
        items: [
          {
            name: "Personal Health Budget",
            description: "You might qualify for a personal health budget from the NHS to support you with treatment, equipment and personal care.",
            url: "#0",
            urlText: "Check if you qualify"
          }
        ]
      }) }}

      <h2 class="govuk-heading-l" id="employer-help">Employer help</h2>

      {{ lthcCard({
        items: [
          {
            name: "Reasonable adjustments",
            description: "Reasonable adjustments to make sure workers with disabilities are not substantially disadvantaged when doing their jobs.",
            url: "#0",
            urlText: "Check if you qualify for reasonable adjustments"
          }
        ]
      }) }}

    </div>

  </div>

{% endblock %}
