{% extends "layouts/browse.njk" %}

{% set heading = "Support for people with a long term health condition or disability" %}
{% set body    = "You may be able to get financial or practical support." %}

{% block pageTitle %}Support for people with a long term health condition or disability - GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="browse__action-links">

      <div class="gem-c-heading govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m">Most viewed</h2>
      </div>

      <ul class="govuk-list govuk-!-margin-bottom-7">
        <li>
          <div class="gem-c-action-link gem-c-action-link--dark-large-icon govuk-!-margin-bottom-3">
            <span class="gem-c-action-link__link-wrapper">
              <a class="govuk-link govuk-link--no-visited-state gem-c-action-link__link gem-c-force-print-link-styles" href="#0">Sign into your Employment and Support account</a>
            </span>
          </div>
        </li>
        <li>
          <div class="gem-c-action-link gem-c-action-link--dark-large-icon govuk-!-margin-bottom-3">
            <span class="gem-c-action-link__link-wrapper">
              <a class="govuk-link govuk-link--no-visited-state gem-c-action-link__link gem-c-force-print-link-styles" href="#0">Sign in to your Personal Independence Payment account</a>
            </span>
          </div>
        </li>
        <li>
          <div class="gem-c-action-link gem-c-action-link--dark-large-icon govuk-!-margin-bottom-3">
            <span class="gem-c-action-link__link-wrapper">
              <a class="govuk-link govuk-link--no-visited-state gem-c-action-link__link gem-c-force-print-link-styles" href="#0">Sign in to your Universal Credit account</a>
            </span>
          </div>
        </li>
      </ul>

    </div>

  </div>

</div>

<div class="gem-c-cards">

  <h2 class="gem-c-cards__heading govuk-heading-m gem-c-cards__heading--underline">Topics</h2>

  <ul class="gem-c-cards__list gem-c-cards__list--one-column">
    <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h3 class="gem-c-cards__sub-heading govuk-heading-s">
          <a class="govuk-link govuk-link--no-visited-state gem-c-cards__link gem-c-force-print-link-styles" href="/support/in-work/">Support if you’re in work</a>
        </h3>
        <p class="govuk-body gem-c-cards__description">Help to manage your health condition or disability while staying in work</p>
      </div>
    </li>
    <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h3 class="gem-c-cards__sub-heading govuk-heading-s">
          <a class="govuk-link govuk-link--no-visited-state gem-c-cards__link gem-c-force-print-link-styles" href="/support/not-in-work/">Support if you’re not in work</a>
        </h3>
        <p class="govuk-body gem-c-cards__description">Help if your health condition or disability is stopping you from working</p>
      </div>
    </li>
  </ul>

</div>

{% endblock %}
